<h2>精算履歴一覧</h2>
<% if @expenses.any? %>

  <% @expenses.each do |expense| %>
    <ul>
      <li>

    <%= expense.payer.name %>が

    <% expense.shares.map(&:user).uniq.each do |user| %>
      <%= user.name %>に
    <% end %>

    <%= number_to_currency(expense.amount.round, unit: "円", precision: 0) %>支払った

    <%= link_to edit_group_expense_path(@group.id,expense.id) do %>
      編集する
    <% end %>

      </li>
    </ul>
  
  <% end %>
<% else %>
  精算履歴はありません
<% end %>

<%= link_to "戻る", group_path(@group.id) %>