<h1>投票一覧</h1>

<%= week_calendar events: @votes do |date, votes| %>
  <div>
    <strong><%= date.day %></strong>

    <% votes.each do |vote| %>
      <div>
        <%= vote.user.name %> : <%= vote.status %>
      </div>
    <% end %>

    <%= link_to "投票する", new_group_vote_path(@group, day: date) %>
  </div>
<% end %>


<h2>◯が多い日 TOP3</h2>
<ol>
  <% @top_votes.each do |vote| %>
    <li><%= vote.day %>（◯ <%= vote.votes_count %> 件）</li>
  <% end %>
</ol>