<h1>投票一覧</h1>

<%= week_calendar events: @votes do |date, votes| %>
  <div>
    <strong><%= date.day %></strong>

    <% votes.each do |vote| %>
      <div>
        <%= vote.user.name %> : <%= vote.status %>
      </div>
    <% end %>

    <%= link_to "投票する", new_group_vote_path(@group, day: date) %>
  </div>
<% end %>
